body {
    background-image:url(PNGs/background.jpg); /* background found here: https://www.vecteezy.com/vector-art/15008011-ocean-or-sea-underwater-background-empty-bottom */
   background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-position:center;
  margin:0 auto ;
  overflow: hidden;

}
.text{  
    font-family:'Berlin Sans FB Demi', sans-serif;
    font-size:3.5em;
    font-weight: bolder;
    
}
.box{
    height:7em;
    width:30em;
    background-color:#fcb4f2; 
    border:15px solid;
    padding: 25px;
    position:relative;
    top:35px;

    margin:0 auto ;

}
#icons{
    height:5em ;
    width: 5em;
    margin:0 auto ;
    
}
h1{
    color:#ff002a;
    text-align:center ;
    transform:translateY(-45px)
}

.shark{
    position:relative;
    left:6em;
    bottom:3.5em;
    margin:0 auto ;
    

}

.bonefish{
    position:relative;
    right:17em;
    bottom:3.5em;
    transform: rotate(-20deg);
    margin:0 auto ; 
}
.helmet{
    position:relative;
    top:3em;
    right:4em;
    margin:0 auto ;
  
}
p{
    position:relative; 
    left:400px;
    top:30px; 
    color:azure;
    margin:0 auto ;
}
.pass{
    font-family:'Berlin Sans FB Demi', sans-serif;
    font-size:3.5em;
    font-weight: bolder;
    margin:0 auto ;
    transform:translateY(-105px)

}
.rectangle1{
    width:30em;
    height:3.5em ;
    background-color:#fcb4f2; 
    border:15px solid;
    padding: 25px;
    position:relative;
    bottom: 270px;
    margin:0 auto ;
}
.rectangle2{
    width:30em;
    height:3.5em ;
    background-color:#fcb4f2; 
    border:15px solid;
    padding: 25px;
    position:relative;
    bottom:215px ;
    margin:0 auto ;
}
