body,html {
    height:100% ;
}
.bg{
    background-image: url(PNGs/background.jpg); /* background found here: https://www.vecteezy.com/vector-art/15008011-ocean-or-sea-underwater-background-empty-bottom */
    height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
