html {
    background-image:url(PNGs/background.jpg); /* background found here: https://www.vecteezy.com/vector-art/15008011-ocean-or-sea-underwater-background-empty-bottom */
   background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-position:center;
  zoom:.50; 
}
body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
  }
.text{
    font-family:'Berlin Sans FB Demi', sans-serif;
    font-size:70px;
    color:#ff002a;
    text-align:center ;
}
.box{
    height:200px;
    width:700px;
    background-color:#fcb4f2; 
    border:15px solid;
    padding: 25px;
    position:relative; 
    top:100px;
}
.box1{
    height:200px;
    width:700px;
    background-color:#fcb4f2; 
    border:15px solid;
    padding: 25px;
    position:relative;
    top:20px;
    
}
.bonefish{
    position: relative;
    left: 100px;
    top: 50px;
}
