
body {
    background-image:url(PNGs/background.jpg); /* background found here: https://www.vecteezy.com/vector-art/15008011-ocean-or-sea-underwater-background-empty-bottom */
   background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-position:center;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
    
}
#name{  
    font-family:'Berlin Sans FB Demi', sans-serif;
    font-size:3em;
    font-weight: bolder;
    color:azure;
    position: relative;
    bottom:1em;
    right: 11em;
    text-align: left;
   
}
#pot{
    font-family:'Berlin Sans FB Demi', sans-serif;
    font-size:2em;
    font-weight: bolder;
    color:azure;
    position: relative;
    bottom:.3em;
    background-color:transparent;
    border-color: #fcb4f2;
    border-radius: 15px;
   
    
}
#balance{
    font-family:'Berlin Sans FB Demi', sans-serif;
    font-size:2em;
    font-weight: bolder;
    color:azure;
    position: relative;
    bottom:.5em;
    text-align: center;
    right: .5em
    
}
#dealer{
    position: relative; 
    bottom:10em;
}
.shark{
    height:13em ;
    width:13em;
    margin:0 auto;
    position: relative; 
}
.fish{
    height:5em ;
    width:7em;
    margin:0 auto ;
    position: relative;
    bottom:6.5em;
    left:23.5em;
  
}
.deadfish{
    height:5em ;
    width:5em;
    margin:0 auto ;
    position: relative;
    top:1.75em;
}
.stop{
    height:7em ;
    width:7em;
    margin:0 auto;
    position: relative;
    right:25em;
    bottom: 7.7em;

}
.add{
    height:8em;
    width:8em;
    margin:0 auto;
    position: relative;
    right:35em;
    bottom:15em;
}
.deck{
    width:8em;
    height:8em;
    position: relative;
    bottom:1.5em;
    right:1em;
}
.cardA{
    width:4em;
    height:6em ;
    background-color:#fcb4f2; 
    border:10px solid;
    position:relative;
    margin:0 auto ;
    display: inline-block;
}
.cardB{
    width:4em;
    height:6em ;
    background-color:#fcb4f2; 
    border:10px solid;
    position:relative;
    margin:0 auto ;
    display: inline-block;
}
#game{
    position:relative;
    bottom:40em;
}
#bet{
    position: relative;
    bottom:1em;
}
#usercard{
    position:relative;


}
button{
    background-color: transparent;
    /*border:none; makes border disappear*/
}
#buttonadd{
    height:8.5em;
    width: 8.5em;
    position: relative;
    bottom: 27.3em;
    right: 42em;
}
#buttonstop{
    height:8.5em;
    width:8.5em;
    position: relative;
    bottom: 35.74em;
    right:30em;
}