body {
    background-image:url(PNGs/background.jpg); /* background found here: https://www.vecteezy.com/vector-art/15008011-ocean-or-sea-underwater-background-empty-bottom */
   background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-position:center;
  zoom:.90; 
}

.text{
    font-family:'Berlin Sans FB Demi', sans-serif;
    font-size: 50 px;
}

h1{
    color:#ff002a;
}

.rectangle{
    height:100px;
    width: 100px;
    color: #fcb4f2;
}
